<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
            text-align: center;
            padding-top: 50px;
        }
        .container {
            max-width: 600px;
            margin: 0 auto;
        }
        .btn {
            margin-top: 20px;
        }
        .logo-container {
            background-color:grey; /* Couleur de fond */
            padding: 20px 0; /* Espacement vertical autour du logo */
            text-align: center; /* Centrage du logo */
        }
    </style>
</head>
<body>
    <div class="logo-container">
        <img src="https://clg.qc.ca/wp-content/themes/clg.qc.ca/dist/images/logo.svg" alt="Collège Lionel Groulx" style="width: 150px; height: auto;">
    </div>
    <div class="container">
        <h1>Merci de votre visite !</h1>
        <p>Vous avez quitté le site Web. Revenez nous voir bientôt !</p>

        <a href="/" class="btn btn-primary">
            <i class="fas fa-home"></i> Retour à la page d'accueil
        </a>
    </div>
</body>
</html>
